<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能介绍</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
            background-color: #f8f8f8;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            margin-top: 50px;
        }

        p {
            text-align: center;
            font-size: 18px;
            line-height: 1.5;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>管理员可以增加和删除其他的用户，可以设置展示轮播图，可以上传文件到共享的文件区，并对教师和学生给与授权，根据是否有授权决定展示给其他用户的文件是否脱敏，超级管理员也可以在专门的区域上传word，excel，图片进行单独的脱敏并下载以供后续的一系列操作</h1>
</body>
</html>
